<app-home-button></app-home-button>
<div class="login-box">
  <h2>Login</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="user-box">
      <input id="email" name="email" type="text" #email="ngModel" matInput required ngModel email />
      <label>Email</label>
    </div>
    <div *ngIf="!email.valid && email.touched" class="input-error">Please enter valid email.</div>
    <div class="user-box">
      <input
        id="pass"
        name="password"
        type="password"
        #password="ngModel"
        matInput
        required
        ngModel
      />
      <label>Password</label>
      <div *ngIf="!password.valid && password.touched" class="input-error">
        Password is required.
      </div>
    </div>
    <div *ngIf="showError" class="error-message">{{ errorMessage }}</div>
    <div class="options">
      <mat-checkbox [(ngModel)]="defaultRemember" name="rememberMe">Remember me</mat-checkbox>
      <span class="spacer"></span>
      <a class="forgot">Forgot password?</a>
    </div>
    <button class="submit" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
