@import url("../../../../colors.scss");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--back);
}

h2 {
  cursor: default;
}

.login-box {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--fav-dark);
  //background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 25px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--pure-white);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--pure-white);
  outline: none;
  background: transparent;
  z-index: 100;
  cursor: pointer;
}

//changed color of autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--pure-white) !important;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: var(--pure-white);
  font-size: 15px;
}

.submit {
  color: var(--fav-dark);
  margin-top: 50px;
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.options {
  display: flex;
  width: 100%;
  margin-top: 30px;

  mat-checkbox {
    color: var(--pure-white);
  }
}

.spacer {
  flex: 1;
}

.forgot {
  font-size: 17px;
  color: var(--pure-white);
  cursor: pointer;
}

.forgot:hover {
  color: var(--fav-light);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--fav-light) !important;
}
