@import url('../../../../colors.scss');

.custom-button {
  color: var(--pure-white);
  transition: .2s;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 2px solid var(--pure-white);
  background-color: #E34234;
  margin-right: 1rem;
  padding: .7rem .7rem;
  width: 18rem;
  height: 6rem;

  &:hover {
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
  }
}

.custom {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--fav-light);
  opacity: 0.99;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &-header {
    height: 15%;
    width: 100%;
    font-size: xx-large;
    padding-left: 3rem;
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: var(--pure-white);
  }

  &-content {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-element {
      width: 100%;
      height: 100%;
      display: flex;
      padding-left: 3rem;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;
      font-size: 2rem;

      &-label {
        width: 100%;
        height: 3rem;
        color: var(--pure-white);
      }

      &-input {
        width: 100%;
        height: 5rem;
        font-size: large;

        &-text {
          height: 100%;
          border: 0px solid transparent;
          border-radius: 0.6rem;
          font-size: 1.6rem;
          padding-left: 1rem;
          box-sizing: border-box;

          &:focus::placeholder {
            color: transparent;
          }

          &:focus {
            border: 0px solid transparent;
            border-radius: 0.6rem;
            caret-color: var(--fav-light);
            outline: none !important;
          }
        }
      }

      &-button-div {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        &-button {
          width: 15rem;
          height: 5rem;
          color: var(--fav-light);
          transition: .2s;
          border-radius: .5rem;
          font-weight: 600;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border: 1px solid var(--fav-light);
          background-color: var(--pure-white);
          margin-right: 1rem;
          padding: .7rem .7rem;
          font-size: 1.6rem;

          &:hover {
            transform: scale(1.05);
            transition: .2s;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-divider {
    height: 25%;
    width: 100%;
  }
}

:host ::ng-deep .p-button-label {
  font-size: 1.4rem;
  width: 8rem;
  background-color: whitesmoke;
}

:host ::ng-deep .p-divider-content {
  background-color: transparent;
}

:host ::ng-deep .p-overlaypanel-content {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

.panel-content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 1.5rem;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem;

  &-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50%;
  }

  &-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    margin-top: 1rem;

    &-label {
      font-size: 1.8rem;
      color: var(--fav-light);
      display: flex;
      justify-content: flex-end;
      font-weight: 500;
    }

  }
}

.radio-element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: medium;
  align-items: center;
  width: 15rem;
  height: 6rem;
}
