.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-element {
  width: 16rem;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  font-size: medium;
}

.card-button-element {
  width: 16rem;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-end;
}

.custom-button {
  color: #1560bd;
  transition: .2s;
  border-radius: .5rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #1560bd;
  background-color: whitesmoke;
  margin-right: 1rem;
  padding: .7rem .7rem;
  width: 12rem;
  height: 3rem;

  &:hover {
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
    background-color: #1560bd;
    color: white;
  }
}

.custom.mat-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  width: 100rem;
  height: 20rem;
  background-color: whitesmoke;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

:host ::ng-deep .p-calendar {
  width: 15rem;
}

:host ::ng-deep .p-button-label {
  font-size: 1.4rem;
  width: 8rem;
  background-color: whitesmoke;
}

:host ::ng-deep .p-divider-content {
  background-color: transparent;
}

:host ::ng-deep .p-overlaypanel-content {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

.panel-content {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  box-sizing: border-box;


  &-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.radio-element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: medium;
  align-items: center;
  width: 15rem;
  height: 6rem;
}