<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img class="appointments-img" src="../../../../assets/icons/info-card/safe.png" />
        <h3>Safe and reliable transportation</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          At VIMA Airlines, we prioritize the safety and well-being of our passengers. Our aircraft
          are regularly maintained and serviced to ensure they meet the highest standards for safety
          and reliability.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img class="appointments-img" src="../../../../assets/icons/info-card/confortable.png" />
        <h3>Comfortable travel experience</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          We know that air travel can be stressful, which is why we strive to make your journey as
          convenient as possible. From our comfortable seating and in-flight entertainment to our
          delicious meals, we want you to feel relaxed and throughout your journey.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img
          class="appointments-img"
          src="../../../../assets/icons/info-card/customer-service.png"
        />
        <h3>Excellent customer service</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          At VIMA Airlines, we're committed to providing excellent customer service from start to
          finish. Our friendly and knowledgeable representatives are always available to answer your
          questions.
        </p>
      </div>
    </div>
  </div>
</div>
