@import url('../../../../colors.scss');

.page {
  height: 100%;
  width: 100%;

  &__hero {
    height: 40%;
    width: 100%;
    background-image: url('../../../../assets/icons/navbar/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center -300px;
    border-top: 1px solid var(--pure-black);
    border-bottom: 1px solid var(--pure-black);
  }

  &__content {
    height: 100%;
    width: 100%;
    background-color: var(--fav-dark);

    &__result {
      position: relative;
      bottom: 20vmin;
      width: 70%;
      height: 66%;
      margin: auto;
      background-color: var(--fav-light);
      padding: 2rem 6rem 1rem 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-radius: 0.5rem;

      .res-header {
        width: 100%;
        height: 8%;
        font-size: xx-large;
        color: var(--back);
        padding-bottom: 2rem;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .res-content {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem 2rem 0rem 2rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 1.2rem;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0.5rem;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--back);
          border-radius: 0.5rem;
        }
      }

      .button-group {
        width: 100%;
        height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.5rem;

        .class {
          border-bottom: 2px solid var(--back);
          font-size: 2.6rem;
          font-weight: 500;
          width: 65%;
          color: var(--back);
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .group {
          width: 30%;
          display: flex;
          justify-content: space-evenly;

          .button {
            width: 15rem;
            height: 5rem;
            color: var(--fav-light);
            transition: 0.2s;
            border-radius: 0.5rem;
            font-weight: 600;
            border: 0px solid var(--back);
            background-color: var(--back);
            padding: 0.7rem 0.7rem;
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              transform: scale(1.05);
              transition: 0.2s;
              cursor: pointer;
            }
          }

          .disabled-button {
            opacity: 0.4;
            pointer-events: none;
          }

          .button-back {
            margin-right: 5rem;
          }
        }
      }
    }
  }
}