<div class="navbar">
  <div class="navbar__help">
    <div class="navbar__help__time">{{ currentDate | date : 'dd.MM.yyyy | HH:mm:ss' }}</div>
    <span class="spacer"></span>
    <div class="navbar__help__item">Feedback</div>
    <div class="navbar__help__item">Contact</div>
    <div class="navbar__help__item">Settings</div>
  </div>
  <div class="navbar__main">
    <div class="navbar__main__container">
      <div class="navbar__main__container__logo shrink" (click)="onHome()">
        <img
          class="navbar__main__container__logo__img"
          src="../../assets/icons/navbar/logo.png"
          alt="LOGO"
        />
        <div class="navbar__main__container__logo__name">VIMA Airlines</div>
      </div>
      <span class="spacer"></span>
      <div (click)="onBurgerToggle()" class="navbar__main__container__burger--icon"></div>
      <div class="navbar__main__container__links">
        <div class="navbar__main__container__links__item shrink" *ngIf="role === 'ADMIN'">
          <img src="../../assets/icons/navbar/admin/new-flight.png" />
          <div class="navbar__main__container__links__item__text" (click)="onNewFlight()">
            New Flight
          </div>
        </div>
        <div class="navbar__main__container__links__item shrink">
          <img src="../../assets/icons/navbar/about.png" />
          <div class="navbar__main__container__links__item__text">About Us</div>
        </div>
        <div
          class="navbar__main__container__links__item shrink"
          (click)="onRegister()"
          *ngIf="!isLogged"
        >
          <img src="../../assets/icons/navbar/register.png" />
          <div class="navbar__main__container__links__item__text">Register</div>
        </div>
        <div class="navbar__main__container__links__item" *ngIf="isLogged">
          <img src="../../assets/icons/navbar/profile.png" />
          <div class="navbar__main__container__links__item__text">{{ email }}</div>
        </div>
        <div
          class="navbar__main__container__links__item shrink"
          (click)="onLogin()"
          *ngIf="!isLogged"
        >
          <img src="../../assets/icons/navbar/login.png" />
          <div class="navbar__main__container__links__item__text">Login</div>
        </div>
        <div class="navbar__main__container__links__item shrink" *ngIf="isLogged">
          <button
            mat-icon-button
            aria-label="Example icon-button with a menu"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>My Profile</span>
            </button>
            <button mat-menu-item (click)="onTickets()" *ngIf="role !== 'ADMIN'">
              <img src="../../assets/icons/navbar/ticket.png" class="menu-img" />
              <span>My Tickets</span>
            </button>
            <button mat-menu-item (click)="onApiKey()" *ngIf="role !== 'ADMIN'">
              <mat-icon>vpn_key</mat-icon>
              <span>Api Key</span>
            </button>
            <button mat-menu-item (click)="onLogout()" class="logout">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="burger ? 'burger-menu' : 'burger-menu-toggle'">
    <div class="burger-menu-toggle__links">
      <div class="burger-menu-toggle__links__item" (click)="onHome()">00 Home</div>
      <div class="burger-menu-toggle__links__item" *ngIf="isLogged">01 Profile</div>
      <div class="burger-menu-toggle__links__item" *ngIf="isLogged" (click)="onTickets()">
        02 Tickets
      </div>
      <div class="burger-menu-toggle__links__item" (click)="onRegister()">00 Home</div>
      <div class="burger-menu-toggle__links__item" *ngIf="role === 'ADMIN'" (click)="onNewFlight()">
        01 New Flight
      </div>
      <div class="burger-menu-toggle__links__item">01 About Us</div>
      <div class="burger-menu-toggle__links__item" *ngIf="isLogged">02 Profile</div>
      <div class="burger-menu-toggle__links__item" (click)="onRegister()" *ngIf="!isLogged">
        02 Register
      </div>
      <div class="burger-menu-toggle__links__item" (click)="onLogin()" *ngIf="!isLogged">
        03 Login
      </div>
      <div class="burger-menu-toggle__links__item" (click)="onLogout()" *ngIf="isLogged">
        04 Logout
      </div>
    </div>
  </div>
</div>
