<div class="container">
  <h1 class="first-four">4</h1>
  <div class="cog-wheel1">
    <div class="cog1">
      <div class="top"></div>
      <div class="down"></div>
      <div class="left-top"></div>
      <div class="left-down"></div>
      <div class="right-top"></div>
      <div class="right-down"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <div class="cog-wheel2">
    <div class="cog2">
      <div class="top"></div>
      <div class="down"></div>
      <div class="left-top"></div>
      <div class="left-down"></div>
      <div class="right-top"></div>
      <div class="right-down"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <h1 class="second-four">4</h1>
  <p class="wrong-para">
    We admire your passion for discovery. You searched for a page that does not exist anywhere.
  </p>
  <button (click)="onHome()" class="noselect">
    <span class="text">Home</span
    ><span class="icon">
      <svg
        style="color: #4f8a8b"
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-house"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          fill="white"
        ></path>
        <path
          fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          fill="white"
        ></path>
      </svg>
    </span>
  </button>
</div>
