<app-home-button></app-home-button>
<div class="register">
  <div class="register__title">Register</div>
  <form [formGroup]="form" (submit)="onFormSubmit()" class="register__form">
    <div class="register__form__row">
      <div class="register__form__row__item">
        <input
          formControlName="firstName"
          id="firstName"
          name="firstName"
          type="text"
          matInput
          required
        />
        <label>First Name</label>
        <div *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
          <div *ngIf="form.get('firstName').errors?.['required']" class="input-error">
            This field is required.
          </div>
        </div>
      </div>
      <div class="register__form__row__item">
        <input
          formControlName="lastName"
          id="lastName"
          name="lastName"
          type="text"
          required
          matInput
        />
        <label>Last Name</label>
        <div *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
          <div *ngIf="form.get('lastName').errors?.['required']" class="input-error">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="register__form__row">
      <div class="register__form__row__item">
        <input formControlName="jmbg" id="jmbg" name="jmbg" type="text" matInput required />
        <label>JMBG</label>
        <div *ngIf="form.get('jmbg').invalid && form.get('jmbg').touched">
          <div *ngIf="form.get('jmbg').errors?.['required']" class="input-error">
            This field is required.
          </div>
        </div>
      </div>
      <div class="register__form__row__item">
        <input
          formControlName="phoneNumber"
          id="phoneNumber"
          name="phoneNumber"
          type="text"
          matInput
          required
        />
        <label>Phone Number</label>
        <div *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched">
          <div *ngIf="form.get('phoneNumber').errors?.['required']" class="input-error">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="register__form__row">
      <div class="register__form__row__item">
        <input formControlName="email" id="email" name="email" type="text" required email />
        <label>Email</label>
        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <div *ngIf="form.get('email').errors?.['required']" class="input-error">
            This field is required.
          </div>
          <div *ngIf="form.get('email').errors?.['email']" class="input-error">
            Please enter a valid email.
          </div>
        </div>
      </div>
      <div class="register__form__row__item">
        <input
          formControlName="password"
          id="pass"
          name="password"
          type="password"
          matInput
          required
        />
        <label>Password</label>
        <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <div *ngIf="form.get('password').errors?.['required']" class="input-error">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="register__form__row">
      <div class="register__form__row__item--datepicker">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Date of birth</mat-label>
          <input
            id="dateOfBirth"
            name="dateOfBirth"
            formControlName="dateOfBirth"
            matInput
            [matDatepicker]="picker"
            required
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker required #picker color="primary"></mat-datepicker>
        </mat-form-field>
        <div *ngIf="form.get('dateOfBirth').invalid && form.get('dateOfBirth').touched">
          <div *ngIf="form.get('dateOfBirth').errors?.['required']" class="input-error date-error">
            This field is required.
          </div>
        </div>
      </div>
      <div class="register__form__row__item--gender">
        <mat-label class="register__form__row__item--gender__name">Gender:</mat-label>
        <label class="checkbox-label">
          <input type="radio" name="isMale" [value]="true" formControlName="isMale" required />
          <span class="checkbox-custom"></span>
          Male
        </label>
        <label class="checkbox-label">
          <input type="radio" name="isMale" [value]="false" formControlName="isMale" />
          <span class="checkbox-custom"></span>
          Female
        </label>
      </div>
    </div>
    <div class="register__form__submit">
      <button type="submit" id="submit" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
  <!-- <div class="error-message position" *ngIf="showError">{{ errorMessage }}</div> -->
</div>
