@import url('../../../../../colors.scss');

.divBorder {
  width: 100%;
  height: 35%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 25px;
}

.cardBorder {
  width: 60%;
  height: 225px;
  display: grid;
  grid-template-rows: 15% 15% 20% 20% 15% 15%;
  background-color: var(--light-gray);
  border-radius: 15px;
  border: 1px solid black;
  cursor: default;
}

.rowTest {
  height: 100%;
  width: 100;
  border: 3px solid black;
  text-align: center;
}

.departureLanding {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  height: 100%;
  width: 100;
  font-weight: bold;
  color: black;
}

.destinations {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  height: 100%;
  width: 100;
}

.flightTimes {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  height: 100%;
  width: 100;
}

.info {
  display: grid;
  grid-template-columns: 30% 20% 10% 40%;
  color: blackds;
}

.bold {
  font-weight: bold;
}

.flightDests {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBorder:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.vimaAirlines {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  color: white;
}

.black {
  color: black;
}

.lightBlueBackground {
  background-color: #5072a7;
}

.lightBlueBorder {
  border-bottom: 3px solid #5072a7;
}

.darkBlueBackground {
  background-color: #13274f;
}

.darkBlueBorder {
  border-bottom: 3px solid #13274f;
}

.lightBlueText {
  color: #5072a7;
}

.darkBlueColor {
  color: #13274f;
}

.luggage {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.luggageLightBlue {
  border: 2px solid #5072a7;
}

.luggageDarkBlue {
  border: 2px solid #13274f;
}

.container {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 4px;
}

.logo {
  height: 25px;
  width: 25px;
  margin-right: 6px;
}
