@import url('../../../../colors.scss');

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__hero {
    height: 40%;
    width: 100%;
    background-image: url('../../../../assets/icons/navbar/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center -300px;
    border-top: 1px solid var(--fav-light);
    border-bottom: 1px solid var(--pure-black);
  }

  &__content {
    height: 100%;
    width: 100%;
    background-color: var(--background);

    &__search {
      position: relative;
      bottom: 15vmin;
      width: 70%;
      height: 75%;
      margin: auto;
      background-color: transparent;
    }
  }
}
