<div class="result-component">
  <div class="date-time">
    <div class="date-time-label">
      08.05.2023.
    </div>
    <div class="date-time-info">
      10:00 &rarr; 12:15 UTC+1
    </div>
  </div>
  <div class="divider"></div>
  <div class="place">
    <div class="place-label">
      Flight route
    </div>
    <div class="place-info">
      Valencia &rarr; Paris
    </div>
  </div>
  <div class="divider"></div>
  <div class="price">
    <div class="price-label">
      Regular price
    </div>
    <div class="price-info">
      12000 din
    </div>
  </div>
</div>
<div class="result-component">
  <div class="date-time"></div>
  <div class="place"></div>
  <div class="price"></div>
</div>
<div class="result-component">
  <div class="date-time"></div>
  <div class="place"></div>
  <div class="price"></div>
</div>
