:root {
  --blue: #03e9f4;
  --pure-white: white;
  --pure-black: #000;
  --main: #4f8a8b;
  --second: #989898;
  --fav-dark: #13274F;
  --fav-light: #5072A7;
  --error: #FF0000;
  --back: #E1EBEE;
  --background: #EAFDFC;
}
