/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-component {
  font-size: 1.6rem;
}

.error-message {
  color: var(--error);
  font-size: 20px;
  font-weight: 400;
}

.input-error {
  position: relative;
  bottom: 2vmin;
  color: var(--error);
  font-size: 15px;
  margin-top: 0;
}